DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,web

MYSQL_DATABASE=caritas
MYSQL_USER=caritas
MYSQL_PASSWORD=caritaspass
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_HOST=db
MYSQL_PORT=3306
REDIS_URL=redis://redis:6379/0

TIME_ZONE=America/Argentina/Buenos_Aires
LANGUAGE_CODE=es-ar
